*{
    color: rgb(31, 31, 31);
}

body{
    background-color: white;
}

.header span:hover{
    background-color: rgb(221, 227, 235);
}

aside{
    background-color: rgb(240, 244, 250);
}

.aside span:hover{
    background-color: rgb(221, 227, 235);
}

.content{
    background-color: rgb(240, 244, 250);
}
.content:hover{
    background-color: rgb(231, 235, 241);
}

.content span{
    background-color: rgb(221, 227, 235);
    color: rgb(60, 63, 66);
}




section{
    background-color: wheat;
}


footer{
    background-color: wheat;
}